---
---

body {
	 font-family: 'Poppins', sans-serif;
	 background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	 background-size: 400% 400%;
	 animation: gradient 40s ease infinite;
	 user-select: none;
	 overflow: hidden;
}
 @keyframes gradient {
	 0% {
		 background-position: 0% 50%;
	}
	 50% {
		 background-position: 100% 50%;
	}
	 100% {
		 background-position: 0% 50%;
	}
}
 .windows {
	 height: 100%;
}
 .windows .icon img {
	 filter: invert(1);
}
 .windows .win:hover {
	 box-shadow: 0px 4px 40px rgba(0, 0, 0, .14), 0px 2px 24px rgba(0, 0, 0, .06), var(--shadow-half-pixel-border);
}
 .windows .win:hover .option {
	 display: flex;
	 position: absolute;
	 margin-left: 5px;
	 top: 6px;
	 right: 6px;
	 opacity: 1;
	 transition: opacity 0.4s;
}
 .windows .win:hover .option .off {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 margin-left: 5px;
	 background: rgba(255, 0, 0, .50);
	 width: 22px;
	 height: 22px;
	 border-radius: 50%;
	 border: none;
	 box-sizing: border-box;
	 padding: 0;
	 cursor: pointer;
	 color: rgba(255, 255, 255, .80);
}
 .windows .win:hover .option .red {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 background: rgba(0, 128, 0, .50);
	 width: 22px;
	 height: 22px;
	 border-radius: 50%;
	 border: none;
	 box-sizing: border-box;
	 padding: 0;
	 cursor: pointer;
	 color: rgba(255, 255, 255, .80);
}
 .windows .win {
	 display: flex;
	 flex-direction: column;
	 transition: '';
	 position: fixed;
	 border-radius: 18px;
	 box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 24px 0px, rgba(0, 0, 0, 0.06) 0px 2px 12px 0px, rgba(64, 64, 76, 0.1) 0px 0px 0px 0.6px;
	 background: rgba(255, 255, 255, .98);
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 cursor: grab;
}
 .windows .win .other {
	 list-style: none;
	 padding: 10px;
	 margin: 0px;
	 line-height: 1.5;
}
 .windows .win #top {
	 cursor: grab;
	 position: relative;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 background-color: #40404c0b;
	 width: 100%;
	 height: 35px;
	 border-top-left-radius: 20px;
	 border-top-right-radius: 20px;
}
 .windows .win .bottom {
	 text-align: center;
	 width: 100%;
	 width: 100%;
	 height: 50px;
	 border-radius: 20px;
}
 .windows .win .windows-title {
	 color: grey;
}
 .windows .win p {
	 margin: 10px;
}
 .windows .option {
	 display: flex;
	 position: absolute;
	 top: 6px;
	 right: 6px;
	 color: rgba(255, 255, 255, .80);
	 opacity: 0;
}
 .windows .option .off {
	 justify-content: center;
	 align-items: center;
	 width: 22px;
	 height: 22px;
	 border-radius: 50%;
	 border: none;
	 transition: opacity 0.2s ease;
	 box-sizing: border-box;
	 padding: 0;
	 cursor: pointer;
}
 .cv {
	 line-height: 1;
}
 #cv_all {
	 width: 90%;
	 height: 98%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 flex-direction: column;
}
 #cv {
	/* Right column */
	 display: flex;
	 justify-content: space-around;
	 height: 95%;
}
 #cv .leftcolumn {
	 float: left;
	 width: 42%;
	 font-size: 85%;
}
 #cv .rightcolumn {
	 float: left;
	 width: 55%;
	 padding-left: 0px;
	 font-size: 100%;
}
 h3 {
	 color: #5eabff;
	 text-transform: uppercase;
}
 h1 {
	 font-size: 500%;
	 margin: 0;
	 display: flex;
	 align-items: center;
	 justify-content: space-around;
	 text-transform: uppercase;
}
 strong {
	 text-transform: uppercase;
}
 h2 {
	 margin: 0;
	 vertical-align: middle;
}
 a {
	 outline: none;
	 text-decoration: none;
}
 a:visited {
	 color: black;
}
 a:hover {
	 text-shadow: 1px 1px 6px rgba(1, 1, 1, 0.2);
}
 .icon {
	 margin: 10px;
	 margin-bottom: 20px;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 width: 105px;
	 height: 100px;
	 color: white;
	 justify-content: center;
	 cursor: pointer;
}
 .icon p {
	 margin: 0;
}